@model IEnumerable<Slideshow>



@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <img src="http://www.sti-norway.no/wp-content/uploads/2015/09/EBS-0849-495x400.jpg"></br>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-md-7 jumbotron" style="height:600px;">
            <div class="slideshow">
                @Html.Partial("Details", Model)
            </div>
        </div>
        <div class="col-md-4  jumbotron">
            <div class="sales">
                <h2>Siste salg</h2>
                <p> ASP.NET is a free web framework for building great HEI MANN Web sites and Web applications using HTML, CSS and JavaScript.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 jumbotron">
            <div class="analytics">
                <h2>Google analytics</h2>
                <p>ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                
            </div>
        </div>

        <div class="col-md-5 jumbotron">
            <div class="gap">
                <h2>GAP</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
           
            </div>
        </div>

        <div class="col-md-2 jumbotron">
            <div class="gap">
                <h2>Clock</h2>
                <p></p>

            </div>
        </div>
    </div>
</div>