@model Sti.Dash.Person

@{
    ViewBag.Title = "Details";
}
<div>
    <table>
       
            @Html.DisplayNameFor(model => model.LimeId)
      

      
            @Html.DisplayFor(model => model.LimeId)
        
    </table>
</div>

